@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.skill-card {
    @apply bg-brand-2 text-bg-1 rounded-8 w-72 grid place-items-center px-6 py-4;
}

.skill-icon {
    @apply flex flex-col items-center justify-between shrink-0;
}

.section {
    @apply xl:h-1080 flex flex-col justify-center items-center /*grid place-items-center*/ xl:p-32;
}

.section-content {
    @apply xl:w-1920 flex flex-col justify-center items-center /*grid place-items-center*/;
}

.conveyor-belt {
    animation: scroll 40s linear infinite;
}

@keyframes scroll {
    0% {
        tranfsorm: translateX(0%);
    }
    100% {
        transform: translateX(-232%);
    }
}